<div class="table-container">
  <div class="header-table">
    <div class="button-group">
      <button mat-icon-button color="primary" (click)="onAdd()"><mat-icon>add_box</mat-icon></button>
      <button mat-icon-button color="accent" (click)="onSync()"><mat-icon>sync</mat-icon></button>
    </div>

    <mat-form-field class="filter-box">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. One Piece" #input>
    </mat-form-field>
  </div>

  <div class="body-table" style="margin-top: 1em;">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let element">{{element.title}}</td>
      </ng-container>

      <ng-container matColumnDef="currentChapter">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Current Chapter</th>
        <td mat-cell *matCellDef="let element">{{element.currentChapter}}</td>
      </ng-container>

      <ng-container matColumnDef="latestChapter">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Latest Chapter</th>
        <td mat-cell *matCellDef="let element">{{element.latestChapter}}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <a mat-icon-button color="primary" href="{{element.website}}"
            target="_blank"><mat-icon>language</mat-icon></a>
          <button mat-icon-button color="primary" (click)="onComplete(element)"
            [disabled]="element.status === 'read'"><mat-icon>task_alt</mat-icon></button>
          <button mat-icon-button color="accent" (click)="onEdit(element)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button color="warn" (click)="onDelete(element)"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Data not found.</td>
      </tr>
    </table>
  </div>

  <mat-paginator [pageSizeOptions]="[ 10, 20, 50]" showFirstLastButtons></mat-paginator>
</div>

<!-- GRID -->
<div class="container">
  <div class="nav">
    <button mat-icon-button color="primary" (click)="onAdd()"><mat-icon>add_box</mat-icon></button>
    <button mat-icon-button color="accent" (click)="onSync()"><mat-icon>sync</mat-icon></button>
  </div>

  <mat-grid-list [cols]="cols" rowHeight="400px">
    <mat-grid-tile *ngFor="let element of mangaList | async">

      <mat-card>
        <mat-card-title class="truncate">{{ element.title }}</mat-card-title>

        <img mat-card-image [src]="'https://royalarcadenorwich.co.uk/wp-content/uploads/2017/07/150x150.png'"
          alt="{{ element.title }}">

        <mat-card-content>
          <span>Current Chapter: {{ element.currentChapter }}</span><br>
          <span>Latest Chapter: {{ element.latestChapter }}</span><br>
          <span>Status: {{ element.status }}</span><br>
        </mat-card-content>

        <mat-card-actions>
          <a mat-icon-button color="primary" href="{{element.website}}"
            target="_blank"><mat-icon>language</mat-icon></a>
          <button mat-icon-button color="primary" (click)="onComplete(element)"
            [disabled]="element.status === 'read'"><mat-icon>task_alt</mat-icon></button>
          <button mat-icon-button color="accent" (click)="onEdit(element)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button color="warn" (click)="onDelete(element)"><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
      </mat-card>

    </mat-grid-tile>

    <span *ngIf="!mangaList.getValue().length">Data not found.</span>
  </mat-grid-list>
</div>