.table-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1em;
  margin: 1em;

  .header-table {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0 1em 0 1em;
    display: flex;
    justify-content: space-between;
    gap: 0.5em;

    .button-group {
      display: flex;
      align-items: center;
    }

    .filter-box {
      margin-top: 1em;
      font-size: 14px;
      width: 100%;
    }
  }

  .body-table {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0 1em 0 1em;

    table {
      // width: 100%;
      overflow-x: auto;
      display: block;
    }
  }

}