@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin pad-border {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0 1em 0 1em;
}

.table-container {
  @include pad-border;
  margin: 1em;
  min-width: min-content;
}

.header-table {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;

  .button-group {
    @include flex-center;
  }

  .filter-box {
    margin-top: 1em;
    font-size: 14px;
    width: 100%;
  }
}

.body-table {

  table {
    width: 100%;
  }
}
